  <div id="layout" class="pure-g"> 
   <div class="content pure-u-1"> 
    <div> 
     <div class="post-description">/o/profiles/browse/c/:category/sc/{{.Response.Subcat}}/?pt={{.Response.pt}}</div> 
    </div> 
   </div> 
  </div>  