<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <meta name="description" content="banerwai" /> 
  <title>Banerwai</title> 
  <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.6.0/pure-min.css" /> 
  <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.6.0/grids-responsive-min.css" /> 
  <link rel="stylesheet" href="http://192.168.1.105:3000/css/layouts/marketing.css" /> 
 </head> 
 <body> 

  <div class="header"> 
   <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"> 
    <a class="pure-menu-heading" href="/">{{.Response.Website}}</a> 
    <ul class="pure-menu-list"> 
     <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover"> <a href="#" id="menuLink1" class="pure-menu-link">浏览</a> 
      <ul class="pure-menu-children"> 
       <li class="pure-menu-item"><a href="/c/" class="pure-menu-link">职位类别</a></li> 
       <li class="pure-menu-item"><a href="#" class="pure-menu-link">自由职业者</a></li> 
       <li class="pure-menu-item"><a href="/signup" class="pure-menu-link">工作</a></li> 
      </ul> 
     </li> 
     <li class="pure-menu-item"><a href="/signup" class="pure-menu-link">注册</a></li>     
     <li class="pure-menu-item"><a href="/login" class="pure-menu-link">登录</a></li>
     <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover"> <a href="#" id="menuLink2" class="pure-menu-link">帮助</a> 
      <ul class="pure-menu-children"> 
       <li class="pure-menu-item"><a href="/i/how/client" class="pure-menu-link">找人工作</a></li> 
       <li class="pure-menu-item"><a href="/i/how/beafreelancer" class="pure-menu-link">自由职业者</a></li> 
      </ul> 
     </li>
     <li class="pure-menu-item"></li>
    </ul> 
   </div> 
  </div> 

 {{yield}}
 </body>
</html>