<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <meta name="description" content="banerwai" /> 
  <title>Banerwai</title> 
  <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.6.0/pure-min.css" /> 
  <!--[if lte IE 8]>
   <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]--> 
  <!--[if gt IE 8]><!--> 
  <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.6.0/grids-responsive-min.css" /> 

  <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://localhost:3000/css/layouts/blog-old-ie.css">
    <![endif]--> 
  <!--[if gt IE 8]><!--> 
    <link rel="stylesheet" href="http://192.168.1.105:3000/css/layouts/marketing.css" /> 
  <!--<![endif]--> 
 </head> 
 <body> 
 {{yield}}
 </body>
</html>