   <div class="content"> 
    <h2 class="content-head is-center">登录</h2> 
    <div class="pure-g">  
     <div class="l-box pure-u-1">
        <form action="/login" method="post"> 
         <fieldset> 
          <div class="clearfix"> 
           <label>Email：</label> 
           <div class="input"> 
            <input tabindex="5" name="email" required pattern="^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$" placeholder="请输入用户Email地址" type="text" /> 
           </div> 
          </div> 
          <div class="clearfix"> 
           <label>密码：</label> 
           <div class="input"> 
            <input tabindex="6" name="password" required placeholder="请输入6-10位密码，包括字母数字" type="password" /> 
           </div> 
          </div> 
          <div class="actions"> 
           <input type="submit" tabindex="3" class="btn primary large" value="登录" /> 
           <p class="reset"> <a tabindex="4" href="/forgetpwd">忘记密码</a> </p> 
          </div> 
         </fieldset> 
        </form> 
     </div>
    </div>    
   </div> 