   <div class="content"> 
    <h2 class="content-head is-center">Signup</h2> 
    <div class="pure-g">  
     <div class="l-box pure-u-1">
        <form action="/signup/user" method="post" class="form-stacked"> 
         <fieldset> 
          <div class="clearfix"> 
           <label>Email：</label> 
           <div class="input"> 
            <input tabindex="5" name="email" required pattern="^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$" placeholder="请输入用户Email地址" type="text" /> 
           </div> 
          </div> 
          <div class="clearfix"> 
           <label>密码：</label> 
           <div class="input"> 
            <input tabindex="6" name="pwd" required placeholder="请输入6-10位密码，包括字母数字" type="password" /> 
           </div> 
          </div> 
          <div class="clearfix"> 
           <label>密码校验：</label> 
           <div class="input"> 
            <input tabindex="7" placeholder="请输入和密码一致的信息" required name="repwd" type="password" /> 
           </div> 
          </div> 
          <div class="actions"> 
           <input type="submit" tabindex="9" class="btn success large" value="注册" /> 
           <p></p>
           <p><input name="accept" type="checkbox" checked="checked" tabindex="-1" />同意<a href="/agree/service" target="_blank" tabindex="-1">&quot;服务条款&quot;</a>、<a href="/agree/notice" target="_blank" tabindex="-1">&quot;用户须知&quot;</a>和<a href="/agree/privacy" target="_blank" tabindex="-1">&quot;隐私权相关政策&quot;</a> </p> 
          </div> 
         </fieldset> 
        </form> 
     </div>
    </div>    
   </div> 